.bkg-form {
    background-color: yellow;
    min-width: 30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.judul {
    text-align: center;
}

.form-judul {
    margin-left: 5%;
}

.form {
    display: block;
    padding: 2% 2%;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
}

.ipt-data {
    background-color: #b17900d2;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 800;
    border-style: solid;
    border-color: #b17900d2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

#div-support {
    position: fixed;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -73%);
}

.support {
    display: inline;
}
