body {
    text-align: center;
}

h1 {
    color: green;
    text-align: center;
}

.modal:before {
    content: "";
    height: 100%;
    vertical-align: middle;
}

.modal-dialog {
    vertical-align: middle;
}

.modal .modal-content {
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}

@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}